@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primary-color: dodgerblue;
    --font-color:white;
}

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background-color: #e3e3e3;
    background-image: url();
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
}

.fas{
    color: var(--font-color);
    font-size: 35px;
}

.player{
    max-width: 80vw;
    min-width: 800px;
    border: 5px solid black;
    border-radius: 10px;
    background: black;
    position: relative;
    cursor: pointer;
}

video{
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.show-controls{
    width: 100%;
    height: 3%;
    position:static;
    bottom: 0;
    cursor: default;
    z-index: 2;
}

.controls-container{
    position: absolute;
    bottom: -5px;
    width: 100%;
    margin-top: -95px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.5s ease-out 2s;
}

.show-controls:hover .controls-container{
    opacity: 1;
    transition: all 0.2s ease-out;
}

.control-group{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.controls-left,
.controls-right{
    flex: 1;
    display: flex;
    overflow: hidden;
    position: relative;
}

.progress-range{
    height: 8px;
    width: calc(100% - 30px);;
    background: rgba(202, 202, 202, 0.5);
    margin: auto;
    border-radius: 10px;
    position:static;
    left: 15px;
    top: -15px;
    cursor: pointer;
    transition: height 0.1s ease-in-out;
}

.progress-bar:hover{
    height: 10px; 
}

.progress-bar{
    background: var(--primary-color);
    width: 20%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.time{
    color: white;
}

/* controls left */

.controls-left{
    justify-content: flex-start;
    margin-left: 15px;
}

.play-controls{
    margin-right: 15px;
}

.fa-playr:hover,
.fa-pause:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.voloume-icon{
    cursor: pointer;
}

.voloume-range{
    cursor: pointer;
}

.speed,
.time{
    position: relative;
    top: 10px;
}

.speed{
    margin-right: 15px;
}

select,
option{
    cursor: pointer;
}

select{
    background: transparent;
    color: var(--font-color);
    border: none;
    font-size: 18px;
    position: relative;
    top: -2.5px;
    border-radius: 5px;
}

select:focus{
    outline: none;
}



@media screen and (max-width: 600px) {
    .player{
        min-width: 0;
        max-width: 95vw;
    }
}